[Unit]
Description=DNSd Daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/dnsd.pid
ExecStart=/usr/sbin/dnsd -f /etc/dnsd.conf
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
